.boardDetail-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInDown 1s ease-in-out;
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-70px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  .board-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;

    .header-container {
      margin-top: 70px;
      border-bottom: 1px solid #bababa;
      align-items: center;
      width: 100%;
      padding: 10px 0;
      .post-title {
        font-size: 1.5rem;
        font-weight: 600;
      }
      .right-side {
        display: flex;
        justify-content: end;
        height: 100%;
        p {
          padding: 5px;
        }
        .post-date {
          color: #bababa;
        }
        .post-view {
          color: #bababa;
        }
      }
    }

    .slider-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      .slider-img-container {
        position: relative;
        display: flex;
        width: 40%;
        height: 350px;
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        .slider-img {
          width: 600px;
          position: relative;
          display: flex;
          object-fit: cover;
          img {
            aspect-ratio: 600/200;
            width: 100%;
            &:hover {
              cursor: pointer;
              transition: 0.3s;
              filter: brightness(90%);
            }
          }
        }
        .dots-container {
          display: flex;
          position: absolute;
          top: 90%;
          left: 51%;
          transform: translateX(-50%);
        }
        .dot {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 3px solid #f1f1f1;
          margin: 0 5px;
          background: #fff;
          &:hover {
            cursor: pointer;
          }
        }
        .dot.active {
          background: rgb(32, 32, 32);
        }
      }

      .left-slide-btn,
      .right-slide-btn {
        padding: 0 100px;
        border: none;
        background-color: #fff;
        color: #000000;
        .prevBtn,
        .nextBtn {
          font-size: 50px;
          &:hover {
            transition: 0.3s;
            background-color: #f7f7f7;
            cursor: pointer;
          }
        }
      }
    }

    .content-container {
      display: flex;
      margin-top: 30px;
      width: 100%;
      height: 100%;
      padding: 50px 0 30px;
      border-bottom: 1px solid #dddddd;
      .content-sub-container {
        flex: 1;
        display: flex;
        .left-container {
          flex: 4;
          .title-container {
            display: flex;
            .title-icon {
              font-size: 25px;
            }
          }
          .desc-container {
            display: flex;
            justify-content: space-between;
            .desc-icon {
              font-size: 20px;
            }
            .content-description {
              bottom: 3px;
            }
            .modify-btn {
              margin-right: 10px;
              padding: 5px 15px;
              border-radius: 3px;
              border: solid 1px rgba(0, 0, 0, 0.2);
              background-color: #fff;
              &:hover {
                background-color: #eee;
                cursor: pointer;
              }
            }
            .delete-btn {
              padding: 5px 15px;
              border-radius: 3px;
              border: solid 1px rgba(0, 0, 0, 0.2);
              background-color: #fff;
              &:hover {
                background-color: #eee;
                cursor: pointer;
              }
            }
          }

          .modal-background {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .modal-del {
              animation: fadein 0.5s;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20rem;
              height: 12rem;
              border-radius: 10px;
              background-color: #fff;
              @keyframes fadein {
                0% {
                  transform: scale(0);
                }
                70% {
                  transform: scale(1);
                }
              }
              .modal-view-del {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .user-del-container {
                  width: 90%;
                  display: flex;
                  flex-direction: column;
                  .user-id_del-input {
                    width: 100%;
                    border-radius: 5px;
                    padding: 5px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid rgb(211, 211, 211);
                    font-size: 12px;
                    &:focus {
                      outline: none;
                      border: 1px solid #adadad;
                    }
                  }
                  .user-pwd_del-input {
                    margin-top: 20px;
                    width: 100%;
                    border-radius: 5px;
                    padding: 5px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid rgb(211, 211, 211);
                    font-size: 12px;
                    &:focus {
                      outline: none;
                      border: 1px solid #adadad;
                    }
                  }
                }
                .btn-del-container {
                  margin-top: 40px;
                  width: 90%;
                  display: flex;
                  justify-content: end;
                  .del-close-btn {
                    margin-right: 20px;
                    padding: 7px 20px 7px 20px;
                    font-size: 12px;
                    border-color: #ff2216;
                    background: #fff;
                    color: #ff2216;
                    border: solid 1px;
                    border-radius: 5px;
                    letter-spacing: 1pt;
                    &:hover {
                      background-color: #ff2216;
                      color: #fff;
                      transition: 0.3s;
                      font-weight: bold;
                      cursor: pointer;
                    }
                  }
                  .del-save-btn {
                    padding: 7px 20px 7px 20px;
                    font-size: 12px;
                    border-color: #adadad;
                    background: #fff;
                    color: #adadad;
                    border: solid 1px;
                    border-radius: 5px;
                    letter-spacing: 1pt;
                    &:hover {
                      background-color: #adadad;
                      color: #fff;
                      font-weight: bold;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
          .modal-background {
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .modal-container {
              animation: fadein 0.5s;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 50rem;
              height: 33.5rem;
              border-radius: 5px;
              background-color: #fff;
              @keyframes fadein {
                0% {
                  transform: scale(0);
                }
                70% {
                  transform: scale(1);
                }
              }
              .modal-view {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                .modal-header {
                  width: 100%;
                  .btn-close {
                    position: relative;
                    font-size: 15px;
                    left: 7px;
                    bottom: 20px;
                    padding: 0 0 0 5px;
                    border: none;
                    border-radius: 100%;
                    background-color: #fff;
                    &:hover {
                      background-color: #f7f7f7;
                      cursor: pointer;
                    }
                    .close-icon {
                      position: relative;
                      right: 2px;
                      top: 3px;
                    }
                  }
                }
                .user-container {
                  width: 90%;
                  display: flex;
                  justify-content: space-between;
                  .user-id_input,
                  .user-pwd_input {
                    width: 45%;
                    border-radius: 5px;
                    padding: 5px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid rgb(211, 211, 211);
                    font-size: 12px;
                    &:focus {
                      outline: none;
                      border: 1px solid #adadad;
                    }
                  }
                }
                .modal-title-container {
                  width: 90%;
                  .title-input {
                    border-radius: 5px;
                    padding: 5px;
                    width: 100%;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid rgb(211, 211, 211);
                    font-size: 12px;
                    &:focus {
                      outline: none;
                      border: 1px solid #adadad;
                    }
                  }
                }
                .divide-half {
                  display: flex;
                  width: 90%;
                }
                .modal-image-container {
                  flex: 4;
                  margin-top: 15px;
                  border-radius: 5px;
                  height: 300px;
                  background-color: #ecebeb;
                  border: 1px solid rgb(211, 211, 211);
                  display: flex;
                  overflow-y: hidden;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  &:hover {
                    cursor: pointer;
                  }
                  .image-inner {
                    width: 100%;
                    height: 100%;
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .insert-image {
                      display: none;
                    }
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .btn-delete-image {
                    padding: 5px 13px;
                    border-radius: 5px;
                    position: absolute;
                    border: 1px solid #adadad;
                    font-size: 12px;
                    bottom: 40px;
                    background: #fff;
                    color: #adadad;
                    letter-spacing: 1pt;
                    &:hover {
                      background-color: #adadad;
                      color: #fff;
                      font-weight: bold;
                      cursor: pointer;
                    }
                  }
                  .hidden {
                    border: none;
                  }
                }
                .modal-content-container {
                  flex: 6;
                  margin-left: 15px;
                  margin-top: 15px;
                  .content-input {
                    border-radius: 5px;
                    border: 1px solid rgb(211, 211, 211);
                    width: 100%;
                    height: 300px;
                    resize: none;
                    font-size: 12px;
                    padding: 5px;
                    &:focus {
                      outline: none;
                      border: 1px solid #adadad;
                    }
                  }
                }
                .btn-container {
                  width: 90%;
                  display: flex;
                  justify-content: end;
                  .close-btn {
                    margin-right: 20px;
                    padding: 7px 20px 7px 20px;
                    font-size: 12px;
                    border-color: #ff2216;
                    background: #fff;
                    color: #ff2216;
                    border: solid 1px;
                    border-radius: 5px;
                    letter-spacing: 1pt;
                    &:hover {
                      background-color: #ff2216;
                      color: #fff;
                      transition: 0.3s;
                      font-weight: bold;
                      cursor: pointer;
                    }
                  }
                  .save-btn {
                    padding: 7px 20px 7px 20px;
                    font-size: 12px;
                    border-color: #adadad;
                    background: #fff;
                    color: #adadad;
                    border: solid 1px;
                    border-radius: 5px;
                    letter-spacing: 1pt;
                    &:hover {
                      background-color: #adadad;
                      color: #fff;
                      font-weight: bold;
                      cursor: pointer;
                    }
                  }
                }
              }
            }
          }
        }
        .right-container {
          flex: 6;
          display: flex;
          justify-content: end;
          align-items: end;
          .reservation-sub {
            width: 100px;
            height: 30px;
            font-size: 13px;
            font-weight: bold;
            background-color: red;
            color: #fff;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .content-description {
        position: relative;
        line-height: 24px;
        left: 20px;
        bottom: 10px;
        font-size: 17px;
        padding: 20px 0;
        white-space: normal;
      }

      .concept-container {
        display: inline-block;
        margin-right: 10px;
        .intro-concept {
          border: 1px solid gray;
          border-radius: 30px;
          width: 70px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .intro-concept-list {
          font-size: 12px;
        }
      }
    }

    .comment-container {
      padding: 50px 0 15px;
      width: 100%;
      .comment-title {
        font-size: 30px;
        color: #263343;
      }
    }
    .comment-sub-container {
      height: 150px;
      width: 100%;
      overflow: auto;
      border: 1px solid #dddddd;
      margin-bottom: 20px;
      .comment-sub {
        border: none;
        font-size: 15px;
        padding: 20px;
        width: 100%;
        height: 100%;
        resize: none;
        background-color: #fff;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .save-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    .list-btn {
      margin-right: 10px;
      padding: 5px 15px;
      border-radius: 3px;
      border: solid 1px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
    .add-btn {
      padding: 5px 15px;
      border-radius: 3px;
      border: solid 1px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
  }

  .recom-total {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left-recom {
      display: flex;
      padding: 20px;
      .re-writer {
        margin-left: 20px;
      }
    }
    .right-recom {
      padding: 20px;
      font-size: 14px;
      color: #abafb5;
      .edit-recom-btn {
        margin-right: 10px;
        &:hover {
          cursor: pointer;
        }
      }
      .del-recom-btn {
        &:hover {
          cursor: pointer;
        }
      }

      .modal-background {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.1);
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        .modal-recom {
          animation: fadein 0.5s;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 20rem;
          height: 9rem;
          border-radius: 10px;
          background-color: #fff;
          @keyframes fadein {
            0% {
              transform: scale(0);
            }
            70% {
              transform: scale(1);
            }
          }
          .modal-view-recom {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .user-re-container {
              width: 90%;
              display: flex;
              flex-direction: column;
              .user-nick_re-input {
                width: 100%;
                border-radius: 5px;
                padding: 5px;
                height: 30px;
                border-radius: 5px;
                border: 1px solid rgb(211, 211, 211);
                font-size: 12px;
                &:focus {
                  outline: none;
                  border: 1px solid #adadad;
                }
              }
            }
            .btn-re-container {
              margin-top: 40px;
              width: 90%;
              display: flex;
              justify-content: end;
              .re-close-btn {
                margin-right: 20px;
                padding: 7px 20px 7px 20px;
                font-size: 12px;
                border-color: #ff2216;
                background: #fff;
                color: #ff2216;
                border: solid 1px;
                border-radius: 5px;
                letter-spacing: 1pt;
                &:hover {
                  background-color: #ff2216;
                  color: #fff;
                  transition: 0.3s;
                  font-weight: bold;
                  cursor: pointer;
                }
              }
              .re-save-btn {
                padding: 7px 20px 7px 20px;
                font-size: 12px;
                border-color: #adadad;
                background: #fff;
                color: #adadad;
                border: solid 1px;
                border-radius: 5px;
                letter-spacing: 1pt;
                &:hover {
                  background-color: #adadad;
                  color: #fff;
                  font-weight: bold;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }

  .re-writer {
    padding: 0 10px;
    display: flex;
    align-self: flex-start;
    color: red;
    border: 1px solid red;
    border-radius: 10px;
    font-size: 13px;
  }
  .total-comment {
    padding: 20px;
    width: 100%;
    height: 100px;
  }
  .re-comment {
    padding: 20px;
    display: flex;
    align-self: flex-start;
    font-size: 15px;
    border: none;
    background-color: #fff;
    color: #20c997;
    margin-bottom: 20px;
    &:hover {
      cursor: pointer;
    }
    .show-icon {
      position: relative;
      top: 2px;
      margin-right: 5px;
      color: #20c997;
    }
    .hide-icon {
      font-size: 19px;
      position: relative;
      top: 4px;
      margin-right: 5px;
      color: #20c997;
    }
  }

  .save-re-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    .re-add-btn {
      padding: 5px 15px;
      border-radius: 3px;
      border: solid 1px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
  }

  .modal-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-recom {
      animation: fadein 0.5s;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20rem;
      height: 9rem;
      border-radius: 10px;
      background-color: #fff;
      @keyframes fadein {
        0% {
          transform: scale(0);
        }
        70% {
          transform: scale(1);
        }
      }
      .modal-view-recom {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .user-re-container {
          width: 90%;
          display: flex;
          flex-direction: column;
          .user-nick_re-input {
            width: 100%;
            border-radius: 5px;
            padding: 5px;
            height: 30px;
            border-radius: 5px;
            border: 1px solid rgb(211, 211, 211);
            font-size: 12px;
            &:focus {
              outline: none;
              border: 1px solid #adadad;
            }
          }
        }
        .btn-re-container {
          margin-top: 40px;
          width: 90%;
          display: flex;
          justify-content: end;
          .re-close-btn {
            margin-right: 20px;
            padding: 7px 20px 7px 20px;
            font-size: 12px;
            border-color: #ff2216;
            background: #fff;
            color: #ff2216;
            border: solid 1px;
            border-radius: 5px;
            letter-spacing: 1pt;
            &:hover {
              background-color: #ff2216;
              color: #fff;
              transition: 0.3s;
              font-weight: bold;
              cursor: pointer;
            }
          }
          .re-save-btn {
            padding: 7px 20px 7px 20px;
            font-size: 12px;
            border-color: #adadad;
            background: #fff;
            color: #adadad;
            border: solid 1px;
            border-radius: 5px;
            letter-spacing: 1pt;
            &:hover {
              background-color: #adadad;
              color: #fff;
              font-weight: bold;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
