.boardDetail-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInDown 1s ease-in-out;
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-70px);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
  .board-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
    height: 100%;

    .header-container {
      margin-top: 70px;
      border-bottom: 1px solid #bababa;
      align-items: center;
      width: 100%;
      padding: 10px 0;
      .post-title {
        font-size: 1.5rem;
        font-weight: 600;
      }
      .right-side {
        display: flex;
        justify-content: end;
        height: 100%;
        p {
          padding: 5px;
        }
        .post-date {
          color: #bababa;
        }
        .post-view {
          color: #bababa;
        }
      }
    }

    .slider-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
      .slider-img-container {
        position: relative;
        display: flex;
        width: 40%;
        height: 350px;
        padding: 0;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        .slider-img {
          width: 600px;
          position: relative;
          display: flex;
          object-fit: cover;
          img {
            aspect-ratio: 600/200;
            width: 100%;
            &:hover {
              cursor: pointer;
              transition: 0.3s;
              filter: brightness(90%);
            }
          }
        }
        .dots-container {
          display: flex;
          position: absolute;
          top: 90%;
          left: 51%;
          transform: translateX(-50%);
        }
        .dot {
          width: 15px;
          height: 15px;
          border-radius: 50%;
          border: 3px solid #f1f1f1;
          margin: 0 5px;
          background: #fff;
          &:hover {
            cursor: pointer;
          }
        }
        .dot.active {
          background: rgb(32, 32, 32);
        }
      }

      .left-slide-btn,
      .right-slide-btn {
        padding: 0 100px;
        border: none;
        background-color: #fff;
        color: #000000;
        .prevBtn,
        .nextBtn {
          font-size: 50px;
          &:hover {
            transition: 0.3s;
            background-color: #f7f7f7;
            cursor: pointer;
          }
        }
      }
    }

    .content-container {
      display: flex;
      margin-top: 30px;
      width: 100%;
      height: 100%;
      padding: 50px 0 30px;
      border-bottom: 1px solid #dddddd;
      .content-sub-container {
        flex: 1;
        display: flex;
        .left-container {
          flex: 4;
          .title-container {
            display: flex;
            .title-icon {
              font-size: 25px;
            }
          }
          .desc-container {
            display: flex;
            .desc-icon {
              font-size: 25px;
              position: relative;
              top: 7px;
            }
          }
        }
        .right-container {
          flex: 6;
          display: flex;
          justify-content: end;
          align-items: end;
          .reservation-sub {
            width: 100px;
            height: 30px;
            font-size: 13px;
            font-weight: bold;
            background-color: red;
            color: #fff;
            border-radius: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      .content-description {
        position: relative;
        line-height: 24px;
        left: 20px;
        bottom: 10px;
        font-size: 17px;
        padding: 20px 0;
        white-space: normal;
      }

      .concept-container {
        display: inline-block;
        margin-right: 10px;
        .intro-concept {
          border: 1px solid gray;
          border-radius: 30px;
          width: 70px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .intro-concept-list {
          font-size: 12px;
        }
      }
    }

    .comment-container {
      padding: 50px 0 15px;
      width: 100%;
      .comment-title {
        font-size: 30px;
        color: #263343;
      }
    }
    .comment-sub-container {
      height: 150px;
      width: 100%;
      overflow: auto;
      border: 1px solid #dddddd;
      .comment-sub {
        border: none;
        font-size: 15px;
        padding: 20px;
        width: 100%;
        height: 100%;
        resize: none;
        background-color: #f9f9f9;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .save-container {
    display: flex;
    justify-content: end;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    .list-btn {
      margin-right: 10px;
      padding: 5px 15px;
      border-radius: 3px;
      border: solid 1px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
    .add-btn {
      padding: 5px 15px;
      border-radius: 3px;
      border: solid 1px rgba(0, 0, 0, 0.2);
      background-color: #fff;
      &:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
  }
}
