.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #263343;
  padding: 8px 12px;
  height: 80px;
  .nav-inner {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a {
    color: white;
  }
  .navbar-logo {
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    font-weight: 600;
    .icon-logo {
      padding: 3px;
      width: 30px;
    }
  }

  .navbar-menu {
    display: flex;
    padding-left: 0;
    .non-login {
      padding: 8px 12px;
      font-weight: 600;
      width: 100%;
      &:hover {
        background-color: #d49466;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.3s;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 20px 24px;
    height: 320px;
    .nav-inner {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      .navbar-menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 8px 24px;
      }
      .navbar-menu .non-login {
        text-align: center;
        padding: 20px 24px;
        &:hover {
          background-color: #d49466;
          border-radius: 4px;
          cursor: pointer;
          transition: 0.3s;
        }
      }
    }
  }
}
