.his-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  animation: fadeInDown 0.3s;
  .inner-container {
    height: 40vh;
    width: 70%;
    .his-img {
      height: 100%;
      width: 100%;
      filter: brightness(70%);
    }
  }
  .txt-in {
    position: absolute;
    top: 730px;
    text-align: center;
    font-size: 2vw;
    font-weight: 100;
    line-height: 1.3em;
    color: #fff;
    span {
      font-size: 1.5vw;
      letter-spacing: 1em;
      display: block;
      font-weight: 400;
    }
  }

  .his-title {
    text-align: center;
    width: 100%;
    font-size: 40px;
    padding: 100px 0 50px 0;
  }

  .his-wrap {
    height: 100%;
    width: 85%;
    .his-bx {
      margin: 30px auto;
      position: relative;
      width: 60%;
    }
    .his-bx::before {
      content: " ";
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -2px;
      width: 3px;
      height: 100%;
      background-color: #eee;
    }
    .his-bx .his-data {
      position: relative;
      margin-bottom: 20px;
      width: 100%;
    }
    .his-bx .his-data::before {
      content: " ";
      display: block;
      position: absolute;
      left: 42.75%;
      width: 75px;
      height: 38px;
      background-image: url(https://surc.or.kr/assets/icon-history-72e35a81b533771b1d598ddb83c79a8a761f88f76248478975f944c06bffefb8.png);
      background-size: 78px 38px;
    }

    .his-bx .his-data:first-child {
      padding-top: 10%;
    }
    .his-bx .his-data:nth-child(odd) {
      padding-left: 59.5%;
      padding-bottom: 10%;
    }
    .his-bx .his-data:nth-child(odd)::before {
      transform: rotate(180deg);
      left: 49.5%;
      right: auto;
    }
    .his-bx .his-data:nth-child(even) {
      padding-bottom: 10%;
      padding-right: 59.5%;
      text-align: end;
    }

    .his-bx .his-data h2 {
      padding-top: 6px;
      margin-bottom: 10px;
      font-size: 1.5em;
      color: #3f454b;
      font-weight: bold;
    }
    .his-bx .his-data p {
      font-size: 17px;
      line-height: 1.7;
      letter-spacing: 0.01rem;
      color: #707984;
      word-break: keep-all;
    }
  }
}

@media all and (max-width: 768px) {
  .txt-in {
    width: 100px;
    height: 200px;
  }
  .his-bx {
    width: 100%;
  }
}
