.main-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  animation: fadeInDown 0.5s;
  img {
    height: 850px;
    width: 100%;
  }
  .main-sub-container {
    padding: 15px;
    position: absolute;
    top: 350px;
    left: 200px;
    height: 370px;
    width: 27%;
    .main-sub {
      font-size: 2.5vw;
      color: #000000;
      line-height: 1.1;
      font-weight: 500;
    }
    .main-small-sub {
      padding: 20px 0;
      font-size: 1.3vw;
      line-height: 1.1;
      color: rgba(0, 0, 0, 0.8);
    }
    .contact-btn {
      background-color: #263343;
      border: 1px solid #263343;
      color: white;
      font-size: 15px;
      font-weight: 600;
      border-radius: 5px;
      margin-right: 10px;
      width: 100px;
      height: 50px;
      &:hover {
        cursor: pointer;
        transform: translateY(-7px);
        transition: 0.3s;
      }
    }
    .read-btn {
      background-color: #fff;
      border: 1px solid #fff;
      border-radius: 5px;
      font-size: 15px;
      font-weight: 600;
      border-radius: 5px;
      margin-right: 10px;
      width: 100px;
      height: 50px;
      &:hover {
        cursor: pointer;
        transform: translateY(-7px);
        transition: 0.3s;
      }
    }
  }
}

.slider-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  .slider-container {
    border: 1px solid black;
    width: 80%;
    height: 850px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .slider-inner {
      position: relative;
      object-fit: cover;
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      width: 25%;
      height: 40%;
      border-radius: 5px;
      margin: 30px 20px 65px 20px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
      animation: fadeInDown 1s ease-in-out;
      &:hover {
        cursor: pointer;
        transform: translateY(-10px);
        transition: 0.5s;
      }
      .slider-card {
        width: 100%;
        height: 80%;
        display: flex;
        object-fit: cover;
        .slider-img {
          aspect-ratio: 350/200;
          width: 100%;
        }
      }
      .slider-card-sub {
        padding: 10px;
        font-size: 1em;
        font-weight: 500;
      }

      .hide-btn {
        display: none;
      }

      .slider-btn {
        position: absolute;
        width: 100%;
        border: none;
        top: calc(100% - 65%);
        opacity: 0.7;
        z-index: 1;
        font-size: 40px;
        color: rgb(255, 255, 255);
        &:hover {
          opacity: 1;
        }
        .prevBtn {
          position: absolute;
          left: 85%;
          top: 10%;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
        .nextBtn {
          position: absolute;
          right: 85%;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

.intro-container {
  padding-top: 6em;
  padding-bottom: 6em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .intro-inner {
    display: inline-flex;
    width: 85%;
    height: 600px;
    .intro-image {
      flex: 1;
      .intro-img {
        height: 600px;
        width: 100%;
        object-fit: cover;
      }
    }
    .intro-sub {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex: 1;
      background-color: #f6f7fa;
      font-size: 20px;
      span {
        color: #3877b9;
      }
    }
  }
}

@media all and (max-width: 768px) {
  .main-container {
    .main-sub-container {
      position: absolute;
      top: 350px;
      left: 200px;
      display: block;
      .main-sub {
        font-size: 1.5rem;
      }
      .contact-btn {
        width: 15vw;
        height: 5vh;
        margin-bottom: 10px;
      }
      .read-btn {
        width: 15vw;
        height: 5vh;
      }
    }
  }
  .service-header {
    .service-title {
      font-size: 20px;
    }
    .service-sub {
      font-size: 30px;
    }
  }

  .service-container {
    height: 100%;
    .service-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }

  .intro-container {
    .intro-inner {
      display: flex;
      flex-direction: column;
      .intro-image {
        .intro-img {
          height: 350px;
        }
      }
      .intro-sub {
        font-size: 15px;
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .slider-wrap {
    display: flex;
    flex-direction: column;
    .slider-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      overflow: auto;
      .slider-inner {
        width: 70%;
      }
    }
  }
}
